mlruns/
cem500k_mocov2_resnet50_200ep.pth.tar
segresult/
__pycache__/
Snakefile
snakefile_dq
snakefile_wq
savemodel/
saveraninitmodel/guay-evaluation_ft_all_epoch5_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch10_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch15_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch20_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch25_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch30_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch35_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch40_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch45_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch50_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch55_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch60_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch65_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch70_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch75_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch80_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch85_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch90_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch95_of_100.pth
saveraninitmodel/guay-evaluation_ft_all_epoch100_of_100.pth
finetunesave/mocofinetune1.4
finetunesave/mocofinetune1.7
finetunesave/mocofinetune1.7_2
finetunesave/mocofinetune1.8
finetunesave/mocofinetune1.11
finetunesave/mocofinetune12.21
finetunesave/mocofinetune12.23
finetunesave/mocofinetune12.25
finetunesave/mocofinetune12.26
finetunesave/mocofinetunetest1.11
finetunesave/unetrfinuetune_1.9
unetrfinetune_22201752_cdr2600.txt
